{% extends 'base.html.twig' %}

{% block body_id 'home' %}

{% block main %}

<h3>Hello, {{ user.fullName }}!</h3>

    <h3>Your units:</h3>
    <table class="style-table">
      <thead>
            <th>Name</th>
            <th>Food per day</th>
            <th>Life</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for unit in unitsFree %}
                <tr>
                    <td>{{ unit.getUnit.name}}</td>
                    <td>{{ unit.getUnit.foodPerDay }}</td>
                    <td>{{ unit.lifePoints }}</td>
                    <td>{{ unit.status }}</td>
                </tr>
            {% endfor %}
            {% for unit in unitsBusy %}
                <tr>
                    <td>{{ unit.getUnit.name}}</td>
                    <td>{{ unit.getUnit.foodPerDay }}</td>
                    <td>{{ unit.lifePoints }}</td>
                    <td>{{ unit.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <h3>Your Buildings:</h3>
    <table class="style-table">
        <thead>
            <th>Building</th>
            <th>Building Level</th>
            <th>Wood Cost</th>
            <th>Stone Cost</th>
            <th>Gold Cost</th>
            <th>Action</th>
        </thead>
        {% for building in buildings %}
            <tr>
                <td>{{ building.building.name }}</td>
                <td>{{ building.buildingLevel }}</td>
                <td>{{ 200 * (building.buildingLevel / 2) }}</td>
                <td>{{ 150 * (building.buildingLevel / 2) }}</td>
                <td>{{ 100 * (building.buildingLevel*1.15) }}</td>
                <td><a href="{{ path('building_levelup', {'id':building.id}) }}" > LevelUp </a> </td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}