

<ul class="nav navbar-nav">
<li class=""><a>Resources: </a></li>
    {% for resource in resources %}

            {% if resource.resources.name == "gold" %}

                <li class="li-center">
                    <a >
                        <!-- <img src="{{ asset('images/gold.png') }}" class="resource-img img-responsive"> -->
                        {{ resource.resources.name }} : {{ resource.amount }}
                    </a>

                </li>
            {% elseif resource.resources.name == "food" %}
                <li class="li-center">
                    <a >
                        <!--  <img src="{{ asset('images/food.png') }}" class="resource-img"> -->
                        {{ resource.resources.name }} : {{ resource.amount }}
                    </a>

                </li>
            {% elseif resource.resources.name == "wood" %}
                <li class="li-center">
                    <a >
                        <!--   <img src="{{ asset('images/wood.png') }}" class="resource-img">  -->
                        {{ resource.resources.name }} : {{ resource.amount }}
                    </a>

                </li>
            {% elseif resource.resources.name == "stone" %}
                <li class="li-center">
                    <a >
                        <!--     <img class="resource-img" src="{{ asset('images/stone.png') }}"> -->
                        {{ resource.resources.name }} : {{ resource.amount }}
                    </a>

                </li>
            {% endif %}

    {% endfor %}
</ul>
<p></p>
<ul class="nav navbar-nav">

    {% if attacks != null %}
        <li class=""><a>Attacks: </a></li>
        {% for attack in attacks %}

            <li><a style="color: red">Attacker: {{ attack.victim.fullName }}</a></li>
            <li><a style="color: red">Arrive On: {{ attack.arriveOn|date('H:i:s') }}</a></li>
            <br/>
        {% endfor %}
    {% endif %}
</ul>