{% extends 'base.html.twig' %}

{% block body_id 'attack_prepare'%}


{% block main %}

    <h2>You are about to attack {{ victim }} after {{ arriveAfter }}</h2>

    {% for u in units %}

    {% endfor %}


    <table class="table-responsive table table-bordered table-hover table-condensed">
        <h1>Your units:</h1>
        <thead>
        <th>Name</th>
        <th>Life</th>
        <th>Status</th>
        <th>Choose</th>
        </thead>
        <tbody>
        <form method="POST" action="{{ path('attack') }}" name="attack-form">
            <input type="hidden" name="victimId" value="{{ victimId }}">
            {% for unit in units %}
                <tr>

                    <th>{{ unit.getUnit.name }}</th>
                    <td>{{ unit.getLifePoints }}</td>
                    <td>{{ unit.getStatus}}</td>
                    <td>
                        <input type="checkbox" id="units_checkbox" name="units[]" value="{{ unit.id  }}">
                    </td>
                </tr>
            {% endfor %}
           <tr><td><input type="submit" value="Attack"></td></tr>
        </form>
        </tbody>
    </table>
{% endblock %}

