{% extends 'base.html.twig' %}

{% block body_id 'attack_info'%}

{% block main %}
<h3>Attacks in progress</h3>
    <table class="style-table">
        <thead>
        <th>Victim's name</th>
        <th>Arrival time</th>
        </thead>
        {% for attack in currentAttack %}
            <tr>
                <td>{{ attack.victim.fullName }}</td>
                <td>{{ attack.arriveOn|date('H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>


    <br/>


    <h3>Battles you won</h3>
    <table class="style-table">
        <thead>
        <th>Victim's name</th>
        <th>Stolen food</th>
        <th>Stolen wood</th>
        <th>Stolen stone</th>
        <th>Stolen gold</th>
        </thead>
        {% for attack in userWinner %}
            <tr>
                <td>{{ attack.attack.victim.fullName }}</td>
                <td>{{ attack.stolenFood }}</td>
                <td>{{ attack.stolenWood }}</td>
                <td>{{ attack.stolenStone }}</td>
                <td>{{ attack.stolenGold}}</td>
            </tr>
        {% endfor %}
    </table>

    <br/>

    <h3>Battles you lost and lost resources</h3>
    <table class="style-table">
        <thead>
        <th>Winner's name</th>
        <th>Food</th>
        <th>Wood</th>
        <th>Stone</th>
        <th>Gold</th>
        </thead>
        {% for attack in userLooser %}
            <tr>
                <td>{{ attack.attack.attacker.fullName }}</td>
                <td>{{ attack.stolenFood }}</td>
                <td>{{ attack.stolenWood }}</td>
                <td>{{ attack.stolenStone }}</td>
                <td>{{ attack.stolenGold }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

