{% extends 'base.html.twig' %}

{% block body_id "hire_units"%}


{% block main %}

    <div class="error">
        {% if error is not null %}
            {{ error }}
        {% endif %}
    </div>

    <table class="table-responsive table table-bordered table-hover table-condensed">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Building</th>
            <th>Building lvl</th>
            <th>Build time</th>
            <th>Life points</th>
            <th>Damage</th>
            <th>Initial food</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for unit in units %}
                <tr>
                    <th>{{ unit.name }}</th>
                    <td style="font-size: 9px;">{{ unit.description }}</td>
                    <td>{{ unit.building.name }}</td>
                    <td>{{ unit.buildingLevel }}</td>
                    <td>{{ unit.builldTime }}</td>
                    <td>{{ unit.lifePoints }}</td>
                    <td>{{ unit.damage }}</td>
                    <td>{{ unit.initialFood }}</td>
                    <td>  <a href="{{ path('hire_units', {'id': unit.id} ) }}"> Hire </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

