{% extends 'base.html.twig' %}

{% block body_id 'home' %}

{% block main %}



<h3>Hello, {{ user.fullName }}!</h3>

    <h3>Your units:</h3>
    <table class="table-responsive table table-bordered table-hover table-condensed" >
      <thead>
            <th class="text-center">Name</th>
            <th class="text-center">Food per day</th>
            <th class="text-center">Life</th>
            <th class="text-center">Status</th>
        </thead>
        <tbody>
            {% for unit in unitsFree %}
                <tr>
                    <td class="text-center">{{ unit.getUnit.name}}</td>
                    <td class="text-center">{{ unit.getUnit.foodPerDay }}</td>
                    <td class="text-center">{{ unit.lifePoints }}</td>
                    <td class="text-center">{{ unit.status }}</td>
                </tr>
            {% endfor %}
            {% for unit in unitsBusy %}
                <tr class="text-center">
                    <td>{{ unit.getUnit.name}}</td>
                    <td>{{ unit.getUnit.foodPerDay }}</td>
                    <td>{{ unit.lifePoints }}</td>
                    <td>{{ unit.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <h3>Your Buildings:</h3>
    <table class="table-responsive table table-bordered table-hover table-condensed">
        <thead>
            <th class="text-center">Building</th>
            <th  class="text-center">Building Level</th>
            <th  class="text-center">Wood Cost</th>
            <th  class="text-center">Stone Cost</th>
            <th  class="text-center">Gold Cost</th>
            <th  class="text-center">Action</th>
        </thead>
        {% for building in buildings %}
            <tr class="text-center">
                <td>{{ building.building.name }}</td>
                <td>{{ building.buildingLevel }}</td>
                <td>{{ 200 * (building.buildingLevel / 2) }}</td>
                <td>{{ 150 * (building.buildingLevel / 2) }}</td>
                <td>{{ 100 * (building.buildingLevel*1.15) }}</td>
                <td><a href="{{ path('building_levelup', {'id':building.id}) }}" > LevelUp </a> </td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}